@model Home_Central.Data.Entities.HomeText;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="DeleteOldText" asp-controller="Home">
    <div class="row">
        <label asp-for="Id">Id</label>
        <input type="number" name="Id" value="@Model.Id" readonly/>
    </div>
    <div class="row">
        <label asp-for="Subject">Onderwerp</label>
        <input type="text" name="Subject" value="@Model.Subject" minlengt="1"/>
    </div>
    <div class="row">
        <label asp-for="Body" class="form-label">Inhoud</label>        
        <textarea asp-for="Body" rows="10"></textarea>
        <input type="submit" value="Delete" />
        <span>@Html.ValidationSummary("Er zijn validatiefouten")</span>
    </div>    
</form>