@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Home_Central.Data.Entities.HomeText>
@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{      
    <div>
        <p>Ik ben een IT-professional met een passie voor applicatie ontwikkeling en nieuwe technologiën</p>
    </div>
    <div>
        <p>In de afgelopen jaren heb ik voornamelijk support verleend en kleine aanpassingen uitgevoerd in een SAP-omgeving. Mijn werk concentreerde zich op configuraties en kleine softwareaanpassingen, waarbij ik gebruik maakte van de programmeertaal ABAP.</p>
    </div>

    <div>
        <p>Gedurende deze periode heb ik ook mijn interesse in webdesign ontwikkeld, met name met behulp van PHP en Drupal, waarmee ik een website heb gecreëerd.</p>
    </div>
    <div>
        <p>
            In 2023 heb ik de kans gegrepen om mijn programmeerkennis aanzienlijk te verbeteren door de opleiding tot .NET Developer bij de VDAB te volgen. Met deze nieuwe kennis heb ik een nieuwe website gemaakt om mijn CV-gegevens online te presenteren. Dit diende als mijn eerste officiële oefening, waarbij ik gebruikmaakte van ASP.NET Core en Bootstrap.
        </p>
    </div>
}
<a href="https://cv.peterkuda.be">Link naar mijn volledige curriculum vitae</a>
<p></p>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <button type="submit" onclick="location='@Url.Action("NieuweText","Home")'">Nieuwe tekst blok</button>
    }
    @if (Model != null)
    {
        @foreach (var text in Model)
        {
            <div>
                <p>@text.Body</p>
                @if (SignInManager.IsSignedIn(User))
                {
                        <button type="submit" onclick="location='@Url.Action("EditText","Home",@text)'">Tekst blok aanpassen</button>
                }                
            </div>
        }
    }
</div>
@if (SignInManager.IsSignedIn(User))
{
    <a asp-action="Index" asp-controller="WoningVerbruik">Woning verbruik</a>
}
